<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910201077907-epsknjcpq4iji40rl8g95jssc47bbk6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910201077907-epsknjcpq4iji40rl8g95jssc47bbk6j</string>
	<key>API_KEY</key>
	<string>AIzaSyAQcYSJJcqzxJrLBxghHWhk7xqyeHkh-44</string>
	<key>GCM_SENDER_ID</key>
	<string>910201077907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gruppe1.Jord-I-Hovedet</string>
	<key>PROJECT_ID</key>
	<string>jord-i-hovedet</string>
	<key>STORAGE_BUCKET</key>
	<string>jord-i-hovedet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910201077907:ios:612bd3d7036108e9</string>
	<key>DATABASE_URL</key>
	<string>https://jord-i-hovedet.firebaseio.com</string>
</dict>
</plist>