@page
@model TmpShowUserDetailsModel
@{
}
    <div class="row">
        First name: @Model.CurrentUser.FirstName<br />
        Last name: @Model.CurrentUser.LastName<br />
        Title: @Model.CurrentUser.Title<br />
        Email: @Model.CurrentUser.Email
    </div>
