@page
@model PriceCalculator.Areas.Services.Pages.Manage.Industries.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Services/Pages/Manage/Shared/_DashboardLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Industry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Industry.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Industry.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Industry.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
