body {
  background-color: #e7e7e7; }

@media (min-width: 1160px) {
  .container {
    max-width: 1100px; } }

nav.navbar {
  padding: 0;
  margin: 8px 0 8px 0;
  background-color: #000;
  margin-left: -15px;
  margin-right: -15px; }
  nav.navbar .nav-link, nav.navbar .btn-link {
    color: #ffffff;
    text-decoration: none;
    font-family: "Klint LT W02 Regular", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px; }

.content {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px; }

a.navbar-brand {
  background: #000 url("../images/logo-black-image.png") no-repeat center center;
  width: 57px;
  height: 48px;
  background-size: 44px;
  border-right: 5px solid #f12b3b;
  display: block;
  text-indent: -999px;
  overflow: hidden;
  padding: 0;
  margin: 0; }

footer {
  margin-top: 25px;
  margin-bottom: 100px;
  font-size: 11px;
  line-height: 13px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  padding-left: 30px;
  padding-right: 30px;
  color: #222;
  background-color: #dddddd;
  margin-left: -15px;
  margin-right: -15px; }
  footer h6 {
    display: inline-block;
    background: transparent url("../images/logo-ti-black.svg") no-repeat left bottom;
    background-size: 102px;
    width: 102px;
    height: 27px;
    text-indent: -999px;
    overflow: hidden;
    margin: 15px 0 25px 20px; }

/* Styling for model detail page */
.materialChoice {
  width: 200px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer; }
  .materialChoice:hover {
    border-color: #f12b3b; }
  .materialChoice:last-child {
    margin-right: 0; }

.selectedMaterial {
  border-color: #000; }

.layerThicknessChoice {
  cursor: pointer; }

.selectedLayerThickness {
  border-color: #000;
  z-index: 1; }

button#delete {
  margin-top: 36px;
  margin-right: 10px; }

button#download {
  margin-top: 36px;
  margin-right: 10px; }

input#save {
  margin-top: 36px; }

#stl_canvas {
  width: 100%;
  height: 500px; }

.axisHelper {
  margin-top: -180px;
  margin-left: -20px;
  pointer-events: none; }

div#materials {
  flex-wrap: wrap; }

.printDirectionControl {
  background-color: #6c757d;
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 40px; }
  .printDirectionControl .up {
    margin-left: 25px;
    margin-right: 25px; }
    .printDirectionControl .up > .triangle {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white; }
    .printDirectionControl .up > .shaft {
      width: 0;
      height: 15px;
      margin-left: 7px;
      margin-right: 7px;
      border-left: 3px solid white;
      border-right: 3px solid white; }
  .printDirectionControl .down {
    margin-left: 25px;
    margin-right: 25px; }
    .printDirectionControl .down > .triangle {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid white; }
    .printDirectionControl .down > .shaft {
      width: 0;
      height: 15px;
      margin-left: 7px;
      margin-right: 7px;
      border-left: 3px solid white;
      border-right: 3px solid white; }
  .printDirectionControl .middle {
    height: 20px; }
    .printDirectionControl .middle .center {
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: white;
      border-radius: 7.5px;
      margin: 2.5px 2.5px 2.5px 2.5px; }
  .printDirectionControl .left {
    display: inline-block;
    width: 25px;
    height: 20px; }
    .printDirectionControl .left > .triangle {
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid white; }
    .printDirectionControl .left > .shaft {
      display: inline-block;
      width: 15px;
      height: 0;
      margin-top: 7px;
      margin-bottom: 7px;
      border-top: 3px solid white;
      border-bottom: 3px solid white; }
  .printDirectionControl .right {
    display: inline-block;
    width: 25px;
    height: 20px; }
    .printDirectionControl .right > .triangle {
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid white; }
    .printDirectionControl .right > .shaft {
      display: inline-block;
      width: 15px;
      height: 0;
      margin-top: 7px;
      margin-bottom: 7px;
      border-top: 3px solid white;
      border-bottom: 3px solid white; }

/* Styling for upload form */
div.uploadForm {
  width: 100%;
  height: 200px; }
  div.uploadForm div.fileControl {
    height: 100%;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    height: 100%; }
    div.uploadForm div.fileControl:hover {
      border: #808080 2px dashed;
      padding: 18px; }
  div.uploadForm div.hover {
    border: #808080 2px dashed;
    padding: 18px; }
  div.uploadForm div.hidden {
    display: none; }

input[type=file].fileInput {
  display: none; }

/* Styling for print-friendly quotation report */
.print-postprocess-list {
  padding: 0;
  margin: 0;
  list-style: none; }

@media print {
  div.nobreak {
    page-break-inside: avoid; } }
